div.bg-light
  div.container.d-flex.justify-content-between.mb-5.pt-5
    form.w-50
      h4 Be in touch
      div.form-group.row
        label.col-sm-2.col-form-label(for='staticEmail') Email
        div.col-sm-10
          input.form-control-plaintext(type='text' id='staticEmail' value='email@example.com')
      div.form-group.row
        label.col-sm-2.col-form-label(for='inputPassword') Password
        div.col-sm-10
          input.form-control.w-50(type='password' id='inputPassword' placeholder='Password')


    div.d-flex.justify-content-between
      div.d-flex.flex-column.mr-5
        h4.mb-3 Shop
        ul.pl-0
          dl
            a(href='#' style='text-decoration: none; color: gray;') For Women
          dl
            a(href='#' style='text-decoration: none; color: gray;') For Men
          dl
            a(href='#' style='text-decoration: none; color: gray;') Stores
          dl
            a(href='#' style='text-decoration: none; color: gray;') Our Blog
          dl
            a(href='#' style='text-decoration: none; color: gray;') Shop

      div.d-flex.flex-column.mr-5
        h4.mb-3 Company
        ul.pl-0
          dl
            a(href='#' style='text-decoration: none; color: gray;') Login
          dl
            a(href='#' style='text-decoration: none; color: gray;') Register
          dl
            a(href='#' style='text-decoration: none; color: gray;') Wishlist
          dl
            a(href='#' style='text-decoration: none; color: gray;') Our Products
          dl
            a(href='#' style='text-decoration: none; color: gray;') Checkouts

      div.d-flex.flex-column
        h4.mb-3 Your account
        ul.pl-0
          dl
            a(href='#' style='text-decoration: none; color: gray;') Login
          dl
            a(href='#' style='text-decoration: none; color: gray;') Register
          dl
            a(href='#' style='text-decoration: none; color: gray;') Wishlist
          dl
            a(href='#' style='text-decoration: none; color: gray;') Our Products
          dl
            a(href='#' style='text-decoration: none; color: gray;') Checkouts
  div.container.d-flex.justify-content-between.pb-4
    span(style='color: gray;') © 2021 Banana. All rights reserved.
    div
      a.mr-3(href='#' style='text-decoration: none; color: gray;') Terms & Conditions
      a.mr-3(href='#' style='text-decoration: none; color: gray;') Privacy & cookies
      a.mr-3(href='#' style='text-decoration: none; color: gray;') Accessibility
      a(href='#' style='text-decoration: none; color: gray;') Customer Data Promise



